RewriteEngine On
RewriteBase /Masitortechnology/

# Rewrite for category
RewriteRule ^category/([a-zA-Z0-9-]+)/?$ category.php?slug=$1 [L,QSA]

# (optional) rewrite for product
RewriteRule ^product/([a-zA-Z0-9-]+)/?$ product.php?slug=$1 [L,QSA]
